SERVICE_NAME=OMDB-SERVICE
BASIC_AUTH=Basic ZXhhbXBsZS1zZXJ2aWNlOmV4YW1wbGUtc2VydmljZQ==
PORT=8001
WRITE_DB_HOST=localhost
WRITE_DB_PORT=3306
WRITE_DB_NAME=omdb-service
WRITE_DB_USER=omdb
WRITE_DB_PASSWORD=omdb
READ_DB_HOST=localhost
READ_DB_PORT=3306
READ_DB_NAME=omdb-service
READ_DB_USER=omdb
READ_DB_PASSWORD=omdb
OMDB_BASE_URL=http://www.omdbapi.com
OMDB_API_KEY=faf7e5bb